p {
  color: #2f2f3f;
  font-size: 18px;
}

body {
  background-color: #eef4ff;
}

main {
  text-align: center;
  background-color: #bbccf8;
  margin-left: 300px;
  margin-right: 300px;
}

.content ul {
  display: inline-block;
  text-align: left;
  color: #1d1b1b;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

nav ul {
  list-style-position: inside;
  text-align: center;
}
