p {
  color: #2f2f3f;
  font-size: 18px;
}

body {
  background-color: #eef4ff;
}

main {
  text-align: left;
  background-color: #bbccf8;
  margin-left: 300px;
  margin-right: 300px;
}

.content ul {
  text-align: left;
  color: #010d15;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

nav ul {
  list-style-position: inside;
  text-align: right;
}

.box {
  color: 0f2b3c;
  background: #24acdc;
  
  border-width: 12px;
  border-color: #feacab;

  margin: 12px;
}

.border-ridge {
  border-style: ridge;
}
